
{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
    <h2>Последние Заметки</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Создан</th>
                <th>ID</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td><a href='/snippet?id={{.ID}}'>{{.Title}}</a></td>
                <td>{{.Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>Здесь ничего нет... пока что!</p>
    {{end}}
<br>

    <!-- Добавленная форма для создания новой заметки -->
    <h2>Добавить новую заметку</h2>
    <form action="/snippet/create" method="post">
        <div>
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">Содержимое:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <div>
            <label for="expires">Срок действия (в днях):</label>
            <input type="number" id="expires" name="expires" required>
        </div>
        <button type="submit">Добавить</button>
    </form>
{{end}}